/* html {      
    background-color: #282B34;
    } 

.welcome-page {      
    background-color: #282B34;
    
    
    } 

     */
.animated {
    /* background-image: url('./welcome-logo.gif');
    background-repeat: no-repeat; */
    height: 190px;
    margin-left: 550px;
    margin-top: 200px;
    

}
h1 {
    font-family: 'Nothing You Could Do', cursive;
    color:  black;
    font-size: 35px;
    margin-left: 450px;
    margin-top: 10px;

}



